Package: nixdbf
Version: 1.1
Architecture: amd64
Maintainer: <xhermitone@gmail.com>
Depends: 
Section: contrib/otherosfs
Priority: optional
Description: The Linux DBF file command-line control utility 
